<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="index">Furni<span>.</span></a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li>
                        <a class="nav-link" href="index">Home</a>
                    </li>
                    <li><a class="nav-link" href="shop">Shop</a></li>
                    <li><a class="nav-link" href="about">About us</a></li>
                    <li><a class="nav-link" href="services">Services</a></li>
                    <li ><a class="nav-link" href="blog">Blog</a></li>
                    <li><a class="nav-link" href="contact">Contact us</a></li>
                    <li><a class="nav-link" href="faqs">FAQs</a></li>
                </ul>
    
                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="user"><img src="../assets/images/user.svg"></a></li>
                    <li ><a class="nav-link" href="cart"><img src="../assets/images/cart.svg"></a></li>
                </ul>
            </div>
        </div>
        </nav>
        
        <div class="untree_co-section">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-6 mb-5 mb-md-0">
		          <h2 class="h3 mb-3 text-black">Billing Details</h2>
		          <div class="p-3 p-lg-5 border bg-white">

					<div class="card mb-2" id="selected-address-card" data-bs-toggle="modal" data-bs-target="#addressModal" style="cursor: pointer;">
						<div class="card-body d-flex justify-content-between align-items-center">
							<div>
								<h5 class="card-title">Norman Rivera</h5>
								<p class="card-text">
									Oriental Mindoro, Calapan City<br>
									Pachoca, Block 5, 5200
								</p>
							</div>
							<div class="d-flex align-items-center">
								<i class="fas fa-edit text-muted me-2" style="font-size: 1.2rem;"></i>
								<p class="text-muted mb-0">Change Address</p>
							</div>
						</div>
					</div>

					
					<div class="form-group mb-2">
						<label for="province" class="text-black">Province <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="province" name="province" placeholder="Enter your province">
					  </div>
					  
		            <div class="form-group row mb-2">
		              <div class="col-md-6">
		                <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_fname" name="c_fname">
		              </div>
		              <div class="col-md-6">
		                <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="c_lname" name="c_lname">
		              </div>
		            </div>

					<div class="form-group row mb-2 mb-2">
						<div class="col-md-12">
						  <label for="phone" class="text-black">Phone <span class="text-danger">*</span></label>
						  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
						</div>
					  </div>

					  <div class="form-group row mb-2">
						<div class="col-md-12">
						  <label for="email" class="text-black">Email <span class="text-muted">(Optional)</span></label>
						  <input type="text" class="form-control" id="email" name="email" placeholder="Phone Number">
						</div>
					  </div>

		            <div class="form-group row mb-2">
		              <div class="col-md-12">
		                <label for="city" class="text-black">City <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="city" name="city">
		              </div>
		            </div>

		            <div class="form-group row mb-2">
		              <div class="col-md-12">
		                <label for="barangay" class="text-black">Barangay <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Street address">
		              </div>
		            </div>

		            <div class="form-group row mb-2">
						<div class="col-md-12">
						  <label for="address" class="text-black">Street, Building, House No. <span class="text-danger">*</span></label>
						  <input type="text" class="form-control" id="address" name="address" placeholder="Street address">
						</div>
					  </div>

		            <div class="form-group row">
		              <div class="col-md-12">
		                <label for="postalcode" class="text-black">Postal Code <span class="text-danger">*</span></label>
		                <input type="text" class="form-control" id="postalcode" name="postalcode">
		              </div>
		            </div>

		            

		            

		          </div>
		        </div>
		        <div class="col-md-6">

		          

					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Your Order</h2>
							<div class="p-3 p-lg-5 border bg-white">
								<table class="table site-block-order-table mb-5">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Top Up T-Shirt <strong class="mx-2">x</strong> 1</td>
											<td>$250.00</td>
										</tr>
										<tr>
											<td>Polo Shirt <strong class="mx-2">x</strong> 1</td>
											<td>$100.00</td>
										</tr>
										<tr>
											<td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
											<td class="text-black">$350.00</td>
										</tr>
										<tr>
											<td class="text-black font-weight-bold"><strong>Shipping Fee</strong></td>
											<td class="text-black">$50.00</td>
										</tr>
										<tr>
											<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
											<td class="text-black font-weight-bold"><strong>$400.00</strong></td>
										</tr>
									</tbody>
								</table>
								
					
								<!-- Horizontal Line Separator -->
								<hr class="my-4" style="border: 1px solid #000;">
					
								<h2 class="h3 mb-3 text-black">Payment Method</h2>
								<div class="border p-3 mb-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="cashOnDelivery">
										<label class="form-check-label" for="cashOnDelivery"><strong>Cash on Delivery</strong></label>
									</div>
								</div>

								<div class="border p-3 mb-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod" id="bank" value="bank">
										<label class="form-check-label" for="bank"><strong>Bank</strong></label>
									</div>
								</div>
								
								<div class="border p-3 mb-3">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod" id="gcash" value="gcash">
										<label class="form-check-label" for="gcash"><strong>Gcash</strong></label>
									</div>
								</div>
								
								<div class="border p-3 mb-5">
									<div class="form-check">
										<input class="form-check-input" type="radio" name="paymentMethod" id="maya" value="maya">
										<label class="form-check-label" for="maya"><strong>Maya</strong></label>
									</div>
								</div>
								
								<div class="form-group">
									<button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='ty'">Place Order</button>
								</div>
								
							</div>
						</div>
					</div>
					

		        </div>
		      </div>
		      <!-- </form> -->
		    </div>
		  </div>
      <%- include('partials/footer') %>           
      <%- include('partials/scripts') %>

	  <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Select New Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3" data-address="1">
                                <div class="card-body">
                                    <h5 class="card-title">Alice Johnson</h5>
                                    <p class="card-text">Metro Manila, Makati City<br>1234 Main St, 1200</p>
                                    <button class="btn btn-primary select-address" data-address="1">Select</button>
									<button class="btn btn-secondary edit-address" data-address="1" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-address="2">
                                <div class="card-body">
                                    <h5 class="card-title">John Smith</h5>
                                    <p class="card-text">Cavite, Bacoor City<br>5678 Oak St, 4102</p>
                                    <button class="btn btn-primary select-address" data-address="2">Select</button>
									<button class="btn btn-secondary edit-address" data-address="2" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-address="3">
                                <div class="card-body">
                                    <h5 class="card-title">Maria Garcia</h5>
                                    <p class="card-text">Laguna, San Pedro<br>91011 Pine St, 4023</p>
                                    <button class="btn btn-primary select-address" data-address="3">Select</button>
									<button class="btn btn-secondary edit-address" data-address="3" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3" data-address="4">
                                <div class="card-body">
                                    <h5 class="card-title">Liam Brown</h5>
                                    <p class="card-text">Batangas, Lipa City<br>1213 Maple St, 4217</p>
                                    <button class="btn btn-primary select-address" data-address="4">Select</button>
									<button class="btn btn-secondary edit-address" data-address="4" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/update-address" method="POST">
                        <div class="form-group row mb-2">
							<div class="col-md-6">
							  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_fname" name="c_fname">
							</div>
							<div class="col-md-6">
							  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="c_lname" name="c_lname">
							</div>
						  </div>
						  <div class="form-group row mb-2 mb-2">
							<div class="col-md-12">
							  <label for="phone" class="text-black">Phone <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
							</div>
						  </div>
	
						  <div class="form-group row mb-2">
							<div class="col-md-12">
							  <label for="email" class="text-black">Email <span class="text-muted">(Optional)</span></label>
							  <input type="text" class="form-control" id="email" name="email" placeholder="Phone Number">
							</div>
						  </div>
						  <div class="form-group row mb-2">
							<div class="col-md-12">
							  <label for="province" class="text-black">Province <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="province" name="province" placeholder="Street address">
							</div>
						  </div>
                        <div class="form-group row mb-2">
							<div class="col-md-12">
							  <label for="city" class="text-black">City <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="city" name="city" placeholder="Street address">
							</div>
						  </div>
						<div class="form-group row mb-2">
							<div class="col-md-12">
							  <label for="barangay" class="text-black">Barangay <span class="text-danger">*</span></label>
							  <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Street address">
							</div>
						  </div>
	  
						  <div class="form-group row mb-2">
							  <div class="col-md-12">
								<label for="address" class="text-black">Street, Building, House No. <span class="text-danger">*</span></label>
								<input type="text" class="form-control" id="address" name="address" placeholder="Street address">
							  </div>
							</div>
							<div class="form-group row mb-2">
								<div class="col-md-12">
								  <label for="postalcode" class="text-black">Postal Code <span class="text-danger">*</span></label>
								  <input type="text" class="form-control" id="postalcode" name="postalcode" placeholder="Street address">
								</div>
							  </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addressModal">Close</button>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	
</body>
</html>